//breakpoints
$desktop-min-width: 1200px;
$tabletPlus-min-width: 1024px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;


//colors
$main-gray: #9E9E9E;
$main-powderblue: #bfdce8;
$main-blue: #90caf9;
$main-black: #212121;
$main-skyblue: #89bfe5;
$main-nightblue: #2a344b;
$light-gray: #fafafa;
$light-purple: #586efc;
