@import "../../../src/styles/utils/mixins";
@import "../../../src/styles/utils/breakpoints";

.container {
  @include flexColumn(20px);
  @include contentPaddingInline;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-block: 40px;
}

.title {
  font-size: 1.75rem;

  @include onTablet {
    font-size: 2rem;
  }

  text-align: center;
}

.cityCards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    display: flex;
    justify-content: center;

    padding: 10px;

    width: 100%;
    height: 220px;

    @include onTablet {
      width: 270px;
    }

    @include onTabletPlus {
      width: 220px;
    }

    background: no-repeat center/cover;

    border-radius: 30px;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(102%);
    }

    &:hover .cityName{
      transform: scale(95%);
      background-color: $main-nightblue;
      color: #fff;
    }

    & .cityName {
      align-self: end;

      width: 100%;
      height: 36px;

      padding-block: 5px;
      border-radius: 30px;

      line-height: 24px;
      text-align: center;
      background-color: #fff;

      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }
}
